.episode {
  padding: 25px 25px;
}

.episode-details {
  flex-grow: 1;
  padding: 0px 20px;
  color: black;
}

.episode-details:hover {
  color: black;
}

.episode-rek-btn {
  margin-right: 15px;
}

// BIG EPISODE
.big-episode-wrapper {
  box-shadow: 0px 1px 10px 1px #ababab;
  max-width: 700px;
  margin: auto;
}

.big-episode {
  background: white;
  padding: 25px 40px;
}

#big-episode-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.be-rek {
  text-align: center;
  padding: 5px;
  background: white;
  color: black;
  background: $primary;
  color: white;

  .profile-pic {
    margin-right: 15px;
  }
}

.be-podcast-art {
  width: 200px;
  border-radius: 2px;
}

.be-title {
  font-weight: bold;
  padding-left: 50px;
}

#be-tags {
  text-align: center;
  padding-top: 5px;
  a {
    color: white;
    margin-right: 5px;
  }
}

.be-released {
  margin-top: 10px;
  padding-left: 50px;
}

#be-left {
  display: flex;
  align-items: center;
  min-width: 400px;
  justify-content: space-between;
  i {
    font-size: 25px;
  }
}
