

.rek-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 0px;
}


#rek-flex-2 {
  display: flex;
  align-items: center;
}

.rek-middle {
  flex-grow: 1;
  padding: 0px 20px;
  text-align: left;
}

.rek-profile-pic {
  margin-bottom: auto;
}

.rek-satoshis {
  white-space: nowrap;
  font-size: 12px;
  text-align: center;
  color: $primary;
  margin-left: 3px;
  padding: 1px 5px;
  border-radius: 5px;
  border: 1px $primary solid;
}

.rek-username {
  font-weight: bold;
  padding-bottom: 10px;
  color: black;
}

.rek-username:hover {
  text-decoration: none !important;
  color: black;
}

.rek-episode-details {
  color: black;
}

.rek-episode-details:hover {
  color: black;
}

.rek-podcast-art {
  border-radius: 2px;
  width: 70px;
}

.rek-podcast-art:hover {
  cursor: pointer;
}

// ### BOOKMARK #############

.bookmark {
  color: $gray;
}

.bookmarked {
  color: $primary
}

.rek-hashtag {
  white-space: nowrap;
  font-size: 12px;
  text-align: center;
  color: $primary;
  margin-left: 3px;
  padding: 1px 5px;
}

#rek-flex-2-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 110px;
}

#rek-hashtags {
  margin-left: 10px;
  overflow-x: hidden;
}
