.rek-header {
  padding-top: 5px;
  font-size: 12px;
  color: $gray-hover;
  display: flex;
}

.rek-hashtags {
  display: flex;
  flex-wrap: wrap;
}

.rek-hashtag {
  margin-left: 4px;
}

.rek-username {
  color: $gray-hover;
}

.rek-username:hover {
  color: $gray-hover;
}

.rek-sats {
  color: $primary;
}

.bookmark {
  color: $primary;
}

.bookmarked {
  color: $primary
}

.rek-description {
  white-space: nowrap;
}
