.rek-header {
  font-size: 12px;
  color: $gray;
  display: flex;
}

.rek-hashtags {
  display: flex;
  flex-wrap: wrap;
}

.rek-hashtag {
  margin-left: 4px;
}

.rek-username {
  color: $gray;
}

.rek-username:hover {
  color: $gray;
}

.rek-sats {
  color: $primary;
}

.bookmark {
  color: $gray;
}

.bookmarked {
  color: $primary
}
