.thin {
  font-weight: 200;
}

.podcast-artwork-lg {
  border-radius: 3px;
  border: $gray 1px solid;
}

.error {
  color: $danger;
  margin-bottom: 10px;
}

.push-right {
  margin-left: auto;
}

.stream {
  padding: 0px 100px;
}
