.thin {
  font-weight: 200;
}

.podcast-artwork-lg {
  border-radius: 3px;
  border: $gray 1px solid;
}

.error {
  color: $danger;
  margin-bottom: 10px;
}

.push-right {
  margin-left: auto;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  border-top: $background 1px solid;
  padding: 5px 25px;
  width: 525px;
  margin: auto;
}

.item:hover {
  background: $very-light-gray;
}

.stream {
  margin-bottom: 20px;
}

.loader-padding {
  padding: 50px 0px;
}
