.auth-nav {
  display: flex;
  flex-wrap: nowrap;
}

.login-inline {
  margin-left: auto;
  position: relative;
}

#login-form {
  display: flex;
  align-items: center;
  input {
    display: inline !important;
    margin-right: 10px;
    max-width: 100%;
  }

  button {
    width: 110px;
    white-space: nowrap;
    font-size: 14px;
  }
}

#sign-up-form {
  padding-top: 20px;
  margin-top: 20px;
  border-top: 2px solid black;
}

.sign-in-btn {
  background: white;
  border-radius: 3px;
  display: flex;
  align-items: center;
  padding: 5px 12px;
  margin-right: 30px;
  height: 40px;
  width: 210px;
}


.sign-in-btn:hover {
  border: 1px solid $gray;
}

#sign-in-btns {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}


#auth-warning {
  margin: 5px 0px 20px 0px;
  text-align: center;
}

#auth-left {
  background: $primary;
  color: white;
  text-align: center;
  padding-top: 15px;
  h1 {
    font-weight: 300;
    padding-top: 15px;
    font-family: 'Lexend Deca', sans-serif;
  }

  strong {
    font-weight: 700;
  }

  img {
    margin: 10px 0px 300px 0px;
    width: 90%;
  }
}

#auth-right {
  padding: 30px 50px;
}
