.login-inline {
  margin-left: auto;
  position: relative;
}

#sign-up-form {
  padding-top: 20px;
  margin-top: 20px;
  border-top: 2px solid $gray;
}

#twitter-sign-in {
  background: white;
  border-radius: 3px;
  display: flex;
  align-items: center;
  padding: 5px 12px;
}

#twitter-sign-in:hover {
  border: 1px solid $gray;
}
