.login-inline {
  margin-left: auto;
  position: relative;
}

#sign-up-form {
  padding-top: 20px;
  margin-top: 20px;
  border-top: 2px solid $gray;
}

.sign-in-btn {
  background: white;
  border-radius: 3px;
  display: flex;
  align-items: center;
  padding: 5px 12px;
  margin-bottom: 20px;
  margin-right: 10px;
  height: 40px;
  width: 210px;
}

.sign-in-btn:hover {
  border: 1px solid $gray;
}

#sign-in-btns {
  display: flex;
}


#auth-warning {
  margin: 5px 0px 20px 0px;
  text-align: center;
}

#auth-left {
  background: $primary;
  color: white;
  height: 100%;
  text-align: center;
  padding-top: 15px;
  h1 {
    font-weight: 300;
    padding-top: 15px;
    font-family: 'Roboto Slab', serif;
  }

  strong {
    font-weight: 700;
  }

  img {
    margin: 10px 0px 100px 0px;
  }
}

#auth-right {
  padding: 30px 50px;
}
