#rss-validator {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 700px;
  margin: 50px auto;

  button {
    margin: 0px 5px;
  }
}

#rss-feed-form {
  flex-grow: 1;
  margin-right: 10px;
  .form-group {
    margin-bottom: 0px;
  }
}

#podcast-details {
  display: flex;
  justify-content: space-between;
  margin: 40px 0px;
  border-top: 2px $gray solid;
  border-bottom: 2px $gray solid;
  padding: 40px;
}

#podcast-details-1 {
  margin-left: 80px;
}

.podcast-detail {
  padding-bottom: 12px;
}

#episode-details {
  width: 100%;
}

.episode-row {
  border-top: 1px $gray solid;
}
