#rss-validator {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 600px;
  margin: 50px auto;

  button {
    margin: 0px 5px;
  }
}

#rss-feed-form {
  flex-grow: 1;
  margin-right: 10px;
  width: 100%;
  .form-group {
    margin-bottom: 0px;
  }
}

#rss-feed {
  width: 425px;
  margin-right: 10px;
}

#rss-feed-label {
  margin-bottom: 5px;
  margin-left: 5px;
}
