#user-profile {
  margin-top: 110px;
}

.sub-nav-wrapper {
  background: white;
  box-shadow: 0px 1px 10px 1px #ababab;
  position: relative;
  margin-bottom: 40px;
  text-align: center;
}

.sub-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 415px;
  margin: 0px auto;
}

.sub-nav-tab {
  padding: 8px 10px;
  min-width: 100px;
  color: $gray;
}

.sub-nav-sats {
  flex-grow: 1;
}

.sub-nav-tab:hover {
  color: $gray-hover;
  cursor: pointer;
}

.current-sub-nav-tab {
  border-bottom: $gray-hover solid 3px;
}

.current-user-avatar:hover {
  filter: brightness(90%);
  cursor: pointer;
}

.current-user-avatar:hover + .edit-avatar {
  display: block;
}

.edit-avatar:hover {
  display: block;
  cursor: pointer;
  color: $gray-hover;
}

.edit-avatar:hover + .current-user-avatar {
  filter: brightness(85%);
}

.edit-avatar {
  color: white;
  position: absolute;
  left: 255px;
  display: none;
}

#user-profile-avatar {
  width: 125px;
  border-radius: 50%;
  position: absolute;
  left: 200px;
  border: white solid 4px;
}

.follow-btn {
  border-radius: 15px;
  padding: 1px 10px;
  width: 100px;
}

.unfollow-btn:hover {
  cursor: pointer;
  background: white;
  border: 1px $primary solid;
  color: $primary;
}

.user a:hover {
  text-decoration: none;
}

#avatar-input {
  display: none;
}

.slider-container {
  padding: 0px 20px;
  display: flex;
  align-items: center;
}
